intact-view/src/main/resources/META-INF/schema/dotm-1_1.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="datasets">
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element name="dataset">
                    <xs:complexType>
                        <xs:sequence minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="pubmed">
                                <xs:complexType>
                                     <xs:sequence>
                                         <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                         <xs:element name="author" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                         <xs:element name="year" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                     </xs:sequence>
                                </xs:complexType>

                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="month" type="xs:string" use="required"/>
                        <xs:attribute name="year" type="xs:int" use="required"/>
                        <xs:attribute name="title" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
