search/binary/binary-search-webapp/src/main/resources/META-INF/search-config-0_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://uk.ac.ebi.intact/binarysearch/config"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://uk.ac.ebi.intact/binarysearch/config"
        elementFormDefault="qualified" version="1.0">

    <xs:element name="search-config">
        <xs:complexType>
            <xs:sequence maxOccurs="1">
                <xs:element name="users">
                    <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                            <xs:element name="user">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string" minOccurs="1"/>
                                        <xs:element name="password" type="xs:string" minOccurs="1"/>
                                        <xs:element name="roles" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence maxOccurs="unbounded">
                                                    <xs:element name="role" minOccurs="1">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="admin"/>
                                                                <xs:enumeration value="guest"/>
                                                                <xs:enumeration value="indexer"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="indexes">
                    <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                            <xs:element name="index">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string" minOccurs="1"/>
                                        <xs:element name="location" type="xs:string" minOccurs="1"/>
                                        <xs:element name="size" type="xs:int" minOccurs="1"/>
                                        <xs:element name="default" type="xs:boolean"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
