graph2mif/graph2mif-client/src/main/wsdl/graph2mif.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/graph2mif/services/mif" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/graph2mif/services/mif" xmlns:intf="http://localhost:8080/graph2mif/services/mif" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://business.intact.ebi.ac.uk" xmlns:tns2="http://exception.graph2MIF.application.intact.ebi.ac.uk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://exception.graph2MIF.application.intact.ebi.ac.uk" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://business.intact.ebi.ac.uk"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="NoGraphRetrievedException">
    <sequence/>
   </complexType>

   <complexType name="MIFSerializeException">
    <sequence/>
   </complexType>
   <complexType name="NoInteractorFoundException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="MIFSerializeException">

      <wsdl:part name="fault" type="tns2:MIFSerializeException"/>

   </wsdl:message>

   <wsdl:message name="IntactException">

      <wsdl:part name="fault" type="xsd:anyType"/>

   </wsdl:message>

   <wsdl:message name="getMIFResponse">

      <wsdl:part name="getMIFReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getMIFRequest1">

      <wsdl:part name="ac" type="xsd:string"/>

      <wsdl:part name="depth" type="xsd:int"/>

      <wsdl:part name="strictmif" type="xsd:boolean"/>

      <wsdl:part name="psiVersion" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="NoGraphRetrievedException">

      <wsdl:part name="fault" type="tns2:NoGraphRetrievedException"/>

   </wsdl:message>

   <wsdl:message name="NoInteractorFoundException">

      <wsdl:part name="fault" type="tns2:NoInteractorFoundException"/>

   </wsdl:message>

   <wsdl:message name="getMIFRequest">

      <wsdl:part name="ac" type="xsd:string"/>

      <wsdl:part name="depth" type="xsd:int"/>

      <wsdl:part name="strictmif" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getMIFResponse1">

      <wsdl:part name="getMIFReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="Graph2MIFWSService">

      <wsdl:operation name="getMIF" parameterOrder="ac depth strictmif">

         <wsdl:input message="impl:getMIFRequest" name="getMIFRequest"/>

         <wsdl:output message="impl:getMIFResponse" name="getMIFResponse"/>

         <wsdl:fault message="impl:MIFSerializeException" name="MIFSerializeException"/>

         <wsdl:fault message="impl:NoGraphRetrievedException" name="NoGraphRetrievedException"/>

         <wsdl:fault message="impl:IntactException" name="IntactException"/>

         <wsdl:fault message="impl:NoInteractorFoundException" name="NoInteractorFoundException"/>

      </wsdl:operation>

      <wsdl:operation name="getMIF" parameterOrder="ac depth strictmif psiVersion">

         <wsdl:input message="impl:getMIFRequest1" name="getMIFRequest1"/>

         <wsdl:output message="impl:getMIFResponse1" name="getMIFResponse1"/>

         <wsdl:fault message="impl:MIFSerializeException" name="MIFSerializeException"/>

         <wsdl:fault message="impl:NoGraphRetrievedException" name="NoGraphRetrievedException"/>

         <wsdl:fault message="impl:IntactException" name="IntactException"/>

         <wsdl:fault message="impl:NoInteractorFoundException" name="NoInteractorFoundException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="mifSoapBinding" type="impl:Graph2MIFWSService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getMIF">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMIFRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://graph2MIF.application.intact.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMIFResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/graph2mif/services/mif" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="MIFSerializeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="MIFSerializeException" namespace="http://localhost:8080/graph2mif/services/mif" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoGraphRetrievedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoGraphRetrievedException" namespace="http://localhost:8080/graph2mif/services/mif" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="IntactException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="IntactException" namespace="http://localhost:8080/graph2mif/services/mif" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoInteractorFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoInteractorFoundException" namespace="http://localhost:8080/graph2mif/services/mif" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getMIF">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMIFRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://graph2MIF.application.intact.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMIFResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/graph2mif/services/mif" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="MIFSerializeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="MIFSerializeException" namespace="http://localhost:8080/graph2mif/services/mif" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoGraphRetrievedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoGraphRetrievedException" namespace="http://localhost:8080/graph2mif/services/mif" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="IntactException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="IntactException" namespace="http://localhost:8080/graph2mif/services/mif" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoInteractorFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoInteractorFoundException" namespace="http://localhost:8080/graph2mif/services/mif" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Graph2MIFWSServiceService">

      <wsdl:port binding="impl:mifSoapBinding" name="mif">

         <wsdlsoap:address location="http://localhost:8080/graph2mif/services/mif"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>

